<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link href="css/main-home.css" rel="stylesheet" />

  </head>
  <body>

    <section>

      <h1>Who are you ??</h1>

      <div>

        <a href="/admin" style="margin-right: 20px; text-decoration: none;">
          <button
            id="admin-button"
            style="background-color: orange;"
          >Admin</button>
        </a>

        <a href="/user" style="margin-left: 20px; text-decoration: none;">
          <button id="user-button" style="background-color: aqua;">User</button>
        </a>

      </div>

    </section>

  </body>
</html>