<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link href="css/main-home.css" rel="stylesheet" />
  </head>

  <body>
    <section>
      <h1>Welcome</h1>
      <p>Please continue to your account</p>

      <a href="/user" style="text-decoration: none;">
        <button id="user-button">Continue as User</button>
      </a>

      <footer>
        <a href="/admin/login">Admin login</a>
      </footer>
    </section>
  </body>
</html>