body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(137, 203, 78);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
}

section {
  background-color: rgb(21, 255, 0);
  padding: 100px 100px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  margin-top: 30px;
}

#user-button,
#admin-button {
  border-radius: 30px;
  padding: 20px 60px;
  background-color: rgb(132, 132, 132);
  border: 3px solid black;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  display: block;
}
