body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(137, 203, 78);
  margin: 0;
}

section {
  background-color: rgb(21, 255, 0);
  padding: 80px 100px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin-bottom: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
}

#user-button {
  border-radius: 30px;
  padding: 20px 80px;
  background-color: aqua;
  border: 3px solid black;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

footer {
  margin-top: 40px;
}

footer a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: underline;
}
