body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aqua;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

section {
  background-color: rgb(155, 155, 155);
  padding: 100px 200px 100px 50px;
  border-radius: 40px;
}

#button {
  border-radius: 30px;
  padding: 13px 40px;
  background-color: black;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: block;
}
