body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(255, 119, 0);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(242, 255, 0);
}

section {
  background-color: rgb(35, 19, 19);
  padding: 100px 70px;
  border-radius: 40px;
}

form {
  margin-top: 40px;
}

.input-boxes {
  padding-left: 10px;
  height: 40px;
  display: block;
  width: 330px;
  border-radius: 15px;
  border: none;
}

#button {
  margin-top: 30px;
  border-radius: 30px;
  padding: 13px 40px;
  background-color: rgb(128, 17, 255);
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.back-btn {
  position: absolute;
  top: 25px;
  left: 25px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 18px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.password-wrapper {
  position: relative;
  width: 330px;
  margin-top: 25px;
}

.password-toggle {
  position: absolute;
  top: 25%;
  right: 7px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.7;
}

.password-toggle:hover {
  opacity: 1;
}
